In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('./data/concat_1.csv')

In [4]:
df2 = pd.read_csv('./data/concat_2.csv')

In [5]:
df3 = pd.read_csv('./data/concat_3.csv')

In [6]:
df1

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [11]:
cc = pd.concat([df1,df2,df3])

In [23]:
cc

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [19]:
colcc = pd.concat([df1,df2,df3],axis=1)

In [24]:
colcc

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [25]:
cc.shape

(12, 4)

In [26]:
colcc.shape

(4, 12)

In [32]:
cc[['A','B']]

     A    B
0   a0   b0
1   a1   b1
2   a2   b2
3   a3   b3
0   a4   b4
1   a5   b5
2   a6   b6
3   a7   b7
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [29]:
colcc['A']

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [33]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [34]:
df1.columns = ['H','I','J','K']

In [35]:
df1

    H   I   J   K
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [36]:
cc

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [37]:
cc2 = pd.concat([df1,df2,df3])

In [38]:
cc2

     A    B    C    D    H    I    J    K
0  NaN  NaN  NaN  NaN   a0   b0   c0   d0
1  NaN  NaN  NaN  NaN   a1   b1   c1   d1
2  NaN  NaN  NaN  NaN   a2   b2   c2   d2
3  NaN  NaN  NaN  NaN   a3   b3   c3   d3
0   a4   b4   c4   d4  NaN  NaN  NaN  NaN
1   a5   b5   c5   d5  NaN  NaN  NaN  NaN
2   a6   b6   c6   d6  NaN  NaN  NaN  NaN
3   a7   b7   c7   d7  NaN  NaN  NaN  NaN
0   a8   b8   c8   d8  NaN  NaN  NaN  NaN
1   a9   b9   c9   d9  NaN  NaN  NaN  NaN
2  a10  b10  c10  d10  NaN  NaN  NaN  NaN
3  a11  b11  c11  d11  NaN  NaN  NaN  NaN